Repository Grofen/creaition-task: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

install eslint-config-prettier, eslint-plugin-import, eslint-plugin-simple-import-sort, husky, lint-staged and add scripts
  .husky/pre-commit
  package-lock.json
  package.json
Due: prettier --write

replace all double quotes to single quotes
  __tests__/pages/home/index.test.tsx
Due: eslint --fix --max-warnings 0, prettier --write

Install @typescript-eslint/eslint-plugin
  package-lock.json
  package.json
Due: prettier --write

Install framer-motion
  package-lock.json
  package.json
Due: prettier --write

Add favicon
  public/cre_ai_tion_logo_black.ico
Due: none

Add favicon to _app
  public/favicon.ico
  src/pages/_app.tsx
  src/pages/_document.tsx
Due: eslint --fix --max-warnings 0, prettier --write

Add useLocalStorage
  src/hooks/use-local-storage.ts
Due: eslint --fix --max-warnings 0, prettier --write

Create and add landing page to index
  src/components/landing/index.tsx
  src/components/landing/styles.module.scss
  src/pages/index.tsx
  src/styles/globals.scss
Due: eslint --fix --max-warnings 0, prettier --write

Add types file
  src/types/index.ts
Due: eslint --fix --max-warnings 0, prettier --write

Create item component
  src/components/item/index.tsx
  src/components/item/styles.module.scss
Due: eslint --fix --max-warnings 0, prettier --write

Add storage keys first_time_visit
  src/utilities/local-keys/index.ts
Due: eslint --fix --max-warnings 0, prettier --write

Add mocks data for item
  src/mocks/items.json
Due: prettier --write

Add assets to the app
  public/cre_ai_tion_logo_black.ico
  public/favicon.ico
  public/images/creaition_logo_black.svg
  public/images/items/i1.png
  public/images/items/i2.png
  public/images/items/o1.png
  public/images/items/o2.png
  public/images/items/o3.png
  public/images/items/other1.png
  public/images/items/other2.png
  public/images/items/other3.png
  public/next.svg
  public/vercel.svg
Due: none

App consts
  src/constants/index.ts
Due: eslint --fix --max-warnings 0, prettier --write

Install gsap and classnames
  package-lock.json
  package.json
Due: prettier --write

Add hooks and lib to paths
  tsconfig.json
Due: prettier --write

creaition font
  public/fonts/eina03-regular.ttf
Due: none

Add site context
  src/lib/context.tsx
  src/types/index.ts
Due: eslint --fix --max-warnings 0, prettier --write

install react-hook-form
  package-lock.json
  package.json
Due: prettier --write

Adding components and animation
  package-lock.json
  package.json
  public/images/image-01-svgrepo-com.svg
  public/images/image-placeholder.png
  public/images/items/i1.svg
  public/images/items/i2.svg
  public/images/items/o1.svg
  public/images/items/o2.svg
  public/images/items/o3.svg
  public/images/items/other1.svg
  public/images/items/other2.svg
  public/images/items/other3.svg
  src/components/item/index.tsx
  src/components/landing/index.tsx
  src/components/landing/styles.module.scss
  src/components/lines/index.tsx
  src/components/pages/home/header/index.tsx
  src/components/pages/home/header/styles.module.scss
  src/components/pages/home/index.tsx
  src/components/pages/home/items-form/image-holder/index.tsx
  src/components/pages/home/items-form/image-holder/style.module.scss
  src/components/pages/home/items-form/index.tsx
  src/components/pages/home/items-form/selected-items/index.tsx
  src/components/pages/home/items-form/selected-items/styles.module.scss
  src/components/pages/home/random-results/index.tsx
  src/components/pages/home/random-results/styles.module.scss
  src/components/shared/button/index.tsx
  src/components/shared/button/styles.module.scss
  src/components/shared/container/index.tsx
  src/components/shared/main-head.tsx
  src/components/shared/prsenece/index.tsx
  src/pages/_app.tsx
  src/pages/index.tsx
  src/styles/globals.scss
  src/types/index.ts
  tsconfig.json
Due: eslint --fix --max-warnings 0, prettier --write

Path conditions:
  eslint --fix --max-warnings 0: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{css,scss,json,html,md,yml})
